<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <session-config>
        <session-timeout>2</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/WEB-INF/pages/index.jsp</jsp-file>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Employees</servlet-name>
        <jsp-file>/WEB-INF/pages/Employees.jsp</jsp-file>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Employees</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Departments</servlet-name>
        <jsp-file>/WEB-INF/pages/Departments.jsp</jsp-file>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Departments</servlet-name>
        <url-pattern>/departments</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowEmployee</servlet-name>
        <jsp-file>/WEB-INF/pages/ShowEmployee.jsp</jsp-file>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowEmployee</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateEmployee</servlet-name>
        <jsp-file>/WEB-INF/pages/UpdateEmployee.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateEmployee</servlet-name>
        <url-pattern>/updateEmployee</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.getjavajob.training.web06.khomutova.Filters.LoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.getjavajob.training.web06.khomutova.Filters.AccessFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/updateEmployee</url-pattern>
        <url-pattern>/deleteEmployee</url-pattern>
        <url-pattern>/addEmployee</url-pattern>
    </filter-mapping>

</web-app>